@import './custom.scss';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue';
@import '~flag-icon-css/css/flag-icon.css';

.floating-demo {
  position: fixed;
  top: 7rem;
  transform: rotate(-90deg);
  font-size: 1.5rem;
  background: #d90000;
  padding: .5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: white;
  left: -22px;
  font-weight: bold;
}

.blue-color {
  color: $blue;
}

.red-color {
  color: $red;
}

.green-color {
  color: $green;
}

.green-bg {
  background: $green;
}

.grey-bg {
  background: $grey;
}

.blue-bg {
  background: $blue;
}

.yellow-bg {
  background: $yellow;
}

.red-bg {
  background: $red;
}


h1,
.h1 {
  font-size: 2.2rem;
  font-weight: 400;
}

.inline {
  display: inline-block;
}


.custom-control-indicator {
  width: 24px;
  height: 25px;
  background-size: 80%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.btn-white {
  background: white;
  color: $blue;
  border-color: #e2e2e2;
}


.sidebar-button {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}

.btn {
  font-size: .9rem;
  border-radius: 3px;
}


.muted {
  color: #757575;
}

.nav-tabs .nav-link {
  border-radius: 0;
}


input[type="text"],
select {
  max-width: 500px!important;
  height: 36px!important;
  border-radius: 3px!important;
  background: none!important;
  background-color: #ffffff!important;
  border: solid 2px rgba(0, 0, 0, 0.15)!important;
}

textarea {
  border-radius: 3px!important;
  background: none!important;
  background-color: #ffffff!important;
  border: solid 2px rgba(0, 0, 0, 0.15)!important;
}

.btn-transparent {
  background: white;
}


h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

a.btn-primary {
  color: #fff;
}

.envelope-listing {
  .envelope-listing-item {
    border-top: 1px solid #eee;
    margin-top:1rem;
    margin-bottom: 1rem;
    padding-top:.5rem;
    padding-bottom: .5rem;
    &:last-of-type {
      border-bottom: 1px solid #eee;
    }
  }
  .envelope-name {
    .router-link {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .status-badge {
    display: flex;
    padding-top: .5rem;
    margin-right: 1rem;
    justify-content:center;
  }
  .envelope-reporting-period {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .envelope-name-wrapper {
    flex-grow: 1;
  }
  .badge-pill {
    line-height: 1.4;
    height: 22px;
  }
  h1 {
    font-weight: 400;
    flex-grow: 1;
  }
  .envelope-listing-header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
  }
  .reporting-period {
    font-size: .9rem;
  }
}


.breadcrumbs {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  a {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }
}
