# Development environment settings for direnv [ https://direnv.net/ ]

export DJANGO_SETTINGS_MODULE=reportek.site.settings.local
export SECRET_KEY='secret-key'
export ALLOWED_HOSTS=*
export DEBUG=yes

export POSTGRES_HOST=localhost
export POSTGRES_DB=reportek
export POSTGRES_USER=reportek
export POSTGRES_PASSWORD=reportek

#export DJANGO_LOG_LEVEL=DEBUG
export DJANGO_COLLECT_STATIC=yes
export DJANGO_MIGRATE=yes
export DJANGO_LOAD_ROD_FIXTURES=yes

# Used to build fully qualified URLs for XMLCONV
export REPORTEK_DOMAIN=<LAN IP>:8000

# Accepts yes/no
export REPORTEK_USE_TLS=no

export REPORTEK_HOST=localhost
export REPORTEK_GUNICORN_PORT=8000

# Can be a list of comma-separated <host>:<port> pairs
export CORS_ORIGIN_WHITELIST=<LAN IP>:8000

# export REPORTEK_TZ=UTC

export TUSD_UPLOADS_DIR=$HOME/src/tusd-bin/data

# Comma-separated list, e.g. xml,tif
export ALLOWED_UPLOADS_ARCHIVE_EXTENSIONS=zip
export ALLOWED_UPLOADS_EXTENSIONS=xml
export ALLOWED_UPLOADS_ORIGINAL_EXTENSIONS=xls,ods

# export ARCHIVE_PATH_PREFIX=yes

export QA_DEFAULT_XMLRPC_URI=http://xmlconv.edw.ro:8080/RpcRouter

export RABBITMQ_HOST=localhost
export RABBITMQ_DEFAULT_VHOST=/reportek
export RABBITMQ_DEFAULT_USER=reportek
export RABBITMQ_DEFAULT_PASS=reportek

# Used by tusd on hooks URL
export API_VERSION=0.1

export LDAP_BIND_DN="cn=Accounts browser,o=EIONET,l=Europe"
export LDAP_BIND_PASSWORD="browser"
export LDAP_URI="ldap://127.0.0.1:389"
export LDAP_USER_DN_TEMPLATE="uid=%(user)s,ou=Users,o=EIONET,l=Europe"
export LDAP_ROLES_DN="cn=reportnet,ou=Roles,o=EIONET,l=Europe"
#export LDAP_LOG_LEVEL=DEBUG
#export PERMS_LOG_LEVEL=DEBUG
