version: '2'

services:
  app:
    build: .
    image: <account>/<repo>
    environment:
      - ALLOWED_HOSTS=*
      - DEBUG=true
volumes:
  pg_data:
    driver: local
  pg_backups:
    driver: local
