version: '2'

services:
  app:
    build: .
    extra_hosts:
      - "xmlconv.edw.ro:10.0.30.58"
    ports:
      - "8000:8000"
    environment:
      - ALLOWED_HOSTS=localhost
      - DEBUG=yes
      - QA_DEFAULT_XMLRPC_URI=http://xmlconv.edw.ro:8080/RpcRouter

  celery-worker:
    extra_hosts:
      - "xmlconv.edw.ro:10.0.30.58"

  rabbitmq:
    ports:
      - "15672:15672"

  nginx:
    ports:
      - "80:80"

volumes:
  pg-data:
    driver: local
  pg-backups:
    driver: local
  tusd-uploads:
    driver: local
  static-files:
    driver: local
