DJANGO_SETTINGS_MODULE=reportek.site.settings.base

SECRET_KEY=secret-key
ALLOWED_HOSTS=*
DEBUG=yes

POSTGRES_HOST=postgres

DJANGO_COLLECT_STATIC=yes
DJANGO_MIGRATE=yes
DJANGO_LOAD_ROD_FIXTURES=yes

# Used to build fully qualified URLs for XMLCONV and file downloads
REPORTEK_DOMAIN=reportek2.eaudeweb.ro

# Accepts yes/no
REPORTEK_USE_TLS=no

REPORTEK_HOST=app
REPORTEK_GUNICORN_PORT=8000

BACKEND_HOST=reportek2.eaudeweb.ro
BACKEND_PORT=8000

TUSD_HOST=reportek2.eaudeweb.ro
TUSD_PORT=1080

# REPORTEK_TZ= UTC
CORS_ORIGIN_WHITELIST=app:8000

TUSD_UPLOADS_DIR=/var/local/tusd_uploads

# Comma-separated list, e.g. xml,tif
ALLOWED_UPLOADS_ARCHIVE_EXTENSIONS=zip
ALLOWED_UPLOADS_EXTENSIONS=xml
ALLOWED_UPLOADS_ORIGINAL_EXTENSIONS=xls,ods

# ARCHIVE_PATH_PREFIX=yes

QA_DEFAULT_XMLRPC_URI=http://xmlconv.edw.ro:8080/RpcRouter

RABBITMQ_HOST=rabbitmq

API_VERSION=0.1

LDAP_BIND_DN=cn=Accounts browser,o=EIONET,l=Europe
LDAP_BIND_PASSWORD=browser
LDAP_URI=ldap://openldap.eea-ldap.rancher.internal:389
LDAP_USER_DN_TEMPLATE=uid=%(user)s,ou=Users,o=EIONET,l=Europe
LDAP_ROLES_DN=cn=reportnet,ou=Roles,o=EIONET,l=Europe

TOKEN_EXPIRE_INTERVAL=30
