SECRET_KEY="secret-key"
ALLOWED_HOSTS=
# DEBUG=no

POSTGRES_HOST=postgres

DJANGO_MIGRATE=yes
DJANGO_LOAD_ROD_FIXTURES=yes

# Used to build fully qualified URLs for XMLCONV
REPORTEK_DOMAIN=app:8000

# Accepts yes/no
REPORTEK_USE_TLS=

REPORTEK_HOST=app
REPORTEK_GUNICORN_PORT=8000

# REPORTEK_TZ= UTC

TUSD_UPLOADS_DIR=/var/local/tusd_uploads

# Comma-separated list, e.g. xml,tif
ALLOWED_UPLOADS_ARCHIVE_EXTENSIONS=zip
ALLOWED_UPLOADS_EXTENSIONS=xml

# ARCHIVE_PATH_PREFIX=yes

QA_DEFAULT_XMLRPC_URI=

RABBITMQ_HOST=rabbitmq
