<envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" released="true" xsi:noNamespaceSchemaLocation="http://cdr.eionet.europa.eu/schemas/envelope-metadata.xsd">
<title>{{ envelope.name }}</title>
<description/>
<date>{{ envelope.created_at }}</date>
<coverage>http://rod.eionet.europa.eu/spatial/{{ envelope.reporter.id }}</coverage>
<countrycode>{{ envelope.reporter.abbr }}</countrycode>
<obligation>{{ envelope.obligation.rod_url }}</obligation>
<link>{{ envelope.fq_url }}</link>
{% if envelope.coverage_start_year %}
  <year>{{ envelope.coverage_start_year }}</year>
{% else %}
  <year/>
{% endif %}
{% if envelope.coverage_end_year %}
  <endyear>{{ envelope.coverage_end_year }}</endyear>
{% else %}
  <endyear/>
{% endif %}
{% if envelope.coverage_interval %}
  <partofyear>{{ envelope.coverage_interval }}</partofyear>
{% else %}
  <partofyear/>
{% endif %}
{% for file in envelope.datafiles.all %}
  <file name="{{ file.name }}" type="file_type" schema="{{ file.xml_schema }}" title="{{ file.name }}" restricted="{{ file.restricted }}" link="{{ file.fq_download_url }}"/>
{% endfor %}
</envelope>
