<!doctype html>
{#Proof-of-concept Channels client example.#}
{#Connects to an envelope's notifications group and updates the displayed current state#}
{#when a change is announced over websockets.#}
<html>
<head>
  {% load static %}
  <script src="{% static 'channels/js/websocketbridge.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    const envelope_channel = `/ws/envelopes/${Cookies.get("envelope_id")}`;
    const webSocketBridge = new channels.WebSocketBridge();
    webSocketBridge.connect(envelope_channel, [], {debug: true, reconnectInterval: 3000});
    webSocketBridge.socket.debug = true;
    webSocketBridge.socket.addEventListener("open", function() {
        console.log(`Connected to channel ${envelope_channel}`);
    });
    webSocketBridge.socket.addEventListener("close", function() {
        console.log(`Disconnected from channel ${envelope_channel}`);
    });
    webSocketBridge.listen(function(action, stream) {
      console.log(action);
      if (action["event"] === "entered_state") {
        $("#currentState").text(action["data"]["current_state"]);
        $("#previousState").text(action["data"]["previous_state"]);
      }
    });
  </script>
</head>
<body>
<h2>Envelope: {{ envelope.name }}</h2>
<h2>State: <span id="currentState">{{ envelope.workflow.current_state }}</span>(<span id="previousState">prev: {{ envelope.workflow.previous_state }}</span>)</h2>
<h2>Files:</h2>
<ul>
  {% for file in envelope.files.all %}
    <li><a href="{% url 'api:envelope-file-detail'  envelope.pk  file.pk  %}">{{ file.name }}</a></li>
  {% endfor %}
</ul>
</body>
